*.iml
.gradle
.gradle-user/
.gradle-user-home/
/local.properties
/.idea/caches
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/.android/
/.kotlin/
/analytics.settings
/android9_screen.png
/qa_artifacts/
/qa_*.png
/qa_*.xml
/qa_*.log
/qa_*.txt
/artifacts/
*.class
/keystore.properties
/signing/
*.jks
*.keystore
